@font-face {
	font-family: "FuturaPT";
	src: url('../../fonts/Futura/FuturaCyrillicBook.ttf');
}


.teaserContainer{
	height: 667px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px 133px 133px 133px;
	
}

.imgText{
	margin-left: auto;
	margin-right: auto;
	display: flex;

}

.imgText img{
	width: 667px;
	height: 667px;
	
}

.jobCont{
	width: 667px;
	height: 667px;
	background-color: #b1c5ff;
	padding: 133px;
	box-sizing: border-box;
	font-family: FuturaPT, Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
}

.jobCont a{
	text-decoration: none;
	color: #0000ff;
}

.hasArrow::after {
	box-sizing: border-box;
    display: inline-block;
    width: 0.3em;
    height: 0.3em;
    content: '';
    border-style: solid;
    border-width: 0.09em 0.09em 0 0;
    transform: rotate(50deg) skew(10deg) translateY(-50%); /* Rotate to make it an arrow */
    margin-left: 0.1em; /* Optional: space between text and arrow */
}