

.containerHero{
	height: 935px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 70px;
	padding-bottom: 70px;
}
.yellowHero{
	background-color: #fbffa7;
	height: 935px;
	width: 935px;
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.image1{
	position: absolute;
	padding-left: 67px;
	left: 350px;
}
