
.Container{
	background-color: white;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	
	
}	

.lavContainer{
	width: 80%;
	height: 100vh;
	background-color: #d5b3ff;
	display: flex;
	align-items: center;
	justify-content: space-around;
	
}

@media (width <= 960px){
	.lavContainer{
        flex-direction: column;
		justify-content: space-around;		
    }

	.lavContainer img{
        width: auto;
		height: 50%;
    }
}
@media (width <= 640px){
	.lavContainer{
		width: 100%;
    }
	
}