@font-face {
	font-family: "FuturaPt";
	src: url('./../../fonts/Futura/FuturaCyrillicBook.ttf');
}

.Description {
	background-color: white;
	padding: 20px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: nowrap;
}

.Description::selection {
	background: #ff764d;
}

p {
	text-align: justify;
}

.bigger {
	font-family: FuturaPt, Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	padding: 10px 150px 10px 150px;
}

.smaller {
	font-family: FuturaPt, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;

	padding: 0px 150px 10px 150px;
}

.blueText {
	color: #0000ff;
}

@media (width <=960px) {
	.Description {
		padding: 5px 10px;
	}

	.bigger {
		font-size: 24px;
		padding: 0;
	}

	.smaller {
		font-size: 16px;
		padding: 0;
	}
}