@font-face {
	font-family: "FuturaPt";
	src: url('./../../fonts/Futura/FuturaCyrillicBook.ttf');
}


.Media{
	background-color: white;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Figure{
	width: 800px;
	height: 450px;
}

.FigCaption{
	height: 40px;
	display: flex;
	align-items: center;
	font-family: FuturaPt, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-size: 14px;
	font-weight: 700;
}

@media (width <= 960px){
	.Figure{
		width: 640px;
		height: 360px;
	}
}
@media (width <= 640px){
	.Figure{
		width: 480px;
		height: 270px;
	}
}
@media (width <= 320px){
	.Figure{
		margin: 8px;
		width: 320px;
		height: 180px;
	}
}