@font-face {
	font-family: "FuturaPt";
	src: url('./../../fonts/Futura/FuturaCyrillicBook.ttf');
}
a {
	text-decoration: none;
	color: inherit
	
}
.footerContainer {
	background-color: white;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	overflow: hidden;

}
.mainFooter{
	padding: 5%;
}
.footerTitle {
	width: 100%;
	height: 110px;
}

.footerTitle img {
	height: 45px;
	width: 188px;
}

.footerCont {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}


.firstRow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 60%;
	font-family: FuturaPt, Arial, Helvetica, sans-serif;


}

.firstRow div {
	width: 50%;
	height: auto;
}

.about {
	list-style: none;
	font-size: 20px;
	font-weight: 400;
	font-family: FuturaPt, Arial, Helvetica, sans-serif;
	padding: 0px;
}

.abtList::after {
	box-sizing: border-box;
	display: inline-block;
	width: 0.3em;
	height: 0.3em;
	content: '';
	border-style: solid;
	border-width: 0.09em 0.09em 0 0;
	transform: rotate(50deg) skew(10deg) translateY(-50%);
	/* Rotate to make it an arrow */
	margin-left: 0.1em;
	/* Optional: space between text and arrow */
}

.socialMedia {
	list-style: none;
	display: flex;
	padding: 0px;

}

.socialMedia img {
	width: 32px;
	height: 32px;
}

.socialMedia a {
	text-decoration: none;
}

.socialMedList {
	width: 44px;
	height: 56px;
}

.Education {
	list-style: none;
	font-size: 20px;
	font-weight: 400;
	padding: 0px;
}

.eduList::after {
	box-sizing: border-box;
	display: inline-block;
	width: 0.3em;
	height: 0.3em;
	content: '';
	border-style: solid;
	border-width: 0.09em 0.09em 0 0;
	transform: rotate(50deg) skew(10deg) translateY(-50%);
	/* Rotate to make it an arrow */
	margin-left: 0.1em;
	/* Optional: space between text and arrow */
}

.newsLetter {
	list-style: none;
	font-size: 20px;
	font-weight: 400;
	font-family: FuturaPt, Arial, Helvetica, sans-serif;
	padding: 0px;
}

.secondRow {
	width: 35%;	
}

.secondRow text {
	font-family: FuturaPt, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 600;
}

.secondRow p {
	font-family: FuturaPt, Arial, Helvetica, sans-serif;
	font-size: 20px;
}

.InputField {
	width: 100%;

}

.InputField input {
	box-sizing: border-box;
	width: 100%;
	padding: 7px 15px 7px 15px;
	font-family: FuturaPt, Arial, Helvetica, sans-serif;
	font-size: 20px;
	border: none;
	font-weight: 400;
	background-color: lightgray;

}

.InputField button {
	box-sizing: border-box;
	width: 120px;
	padding: 7px 15px 7px 15px;
	font-family: FuturaPt, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 600;
	border: none;
	background-color: #0000ff;
	color: white;
}

.LL {
	padding: 20px 0px 20px 0px;
	font-size: 20px;

}


.thirdRow {
	font-family: FuturaPt, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 500;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	padding: 0px;
	margin: none;
	border: none;
}

.listLeft ul {
	list-style: none;
	padding: 0;
}

.listLeftItm a {
	text-decoration: none;
	color: black;
	font-size: 12px;
}

.listLeftUl {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.listRight {
	display: flex;
	gap: 15px;
}

.listRight img {
	width: 45px;
	height: 20px;
}

.listRight div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.langDrop {
	height: 30px;
	width: 114px;
	background-color: lightgrey;
	border: none;
	margin-right: 2px;
	font-family: FuturaPt, Arial, Helvetica, sans-serif;
	font-size: 14px;

}

.langDrop option {
	font-family: FuturaPt, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.CountryDrop {
	height: 30px;
	width: 200px;

	background-color: lightgrey;
	border: none;
	font-family: FuturaPt, Arial, Helvetica, sans-serif;

}

.CountryDrop option {
	font-family: FuturaPt, Arial, Helvetica, sans-serif;
	font-size: 14px;
}


@media (width <= 960px){
	.footerCont {
		flex-direction: column;
		align-items: center;
		padding: 0;
	}
	.firstRow {
		justify-content: space-between;
		width: 100%;
	}
	.secondRow {
		justify-content: space-around;
		width: 80%;
		padding: 20px 0px 20px 0px;

	}
	
}

@media (width <= 640px){
	.mainFooter{
		padding: 12px;
	}
	.firstRow div{
		width: auto;
	}
	
	
}